@font-face {
    font-family: "Pokemon GB";
    src: url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.eot");
    src: url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.woff") format("woff"), url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.svg#Pokemon GB") format("svg");
}

#battle {
    font-family: "Pokemon GB", serif;
    background-color: aqua;
    height: 650px;
}

.pokemon-card {
    max-width: 20rem;
    border-radius: 25px 10px !important;
    border: 4px solid #2d4416 !important;
    z-index: 100;
}

.poke-image {
    z-index: 50;
}

.bg-green {
    background-color: #526759;
}

.text-yellow {
    color: #f8af41;
}

.bg-yellow {
    background-color: #f8af41 !important;
}

.bg-beige {
    background-color: #ececcb !important;
}

.card-arrow {
    background: linear-gradient(to bottom left, transparent 48%, #526759 48%);
    border-radius: 25px 0 0 25px;
    height: 3rem;
    top: -2rem;
}

.poke-stadia {
    top: -4rem;
    z-index: 1;
}

.mirror {
    transform: scaleX(-1);
}

.battle-option-screen {
}

.battle-screen {
    overflow: hidden;
}

.battle-option-text {
    min-height: 5rem;
}

.poke-option-button {
    border-radius: 25px !important;
}

.fight {
    background-color: #F8A9B1 !important;
}

.bag {
    background-color: #E09828 !important;
}

.pokemon {
    background-color: #57B128 !important;
}

.flee {
    background-color: #2891C9 !important;
}